.check-mark{
    position: absolute;
    right: 12px;
    top: 2px;
    cursor: pointer;
    color: #22c722;
    user-select: none;
    font-size: 24px;
}
.task-container{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    padding: 16px;
    margin-top: 16px;
}
.task-container.completed{
    background-color: #c1c1c1;
    text-decoration: line-through;
    color: #5c5c5c;
}

.task-text{
    margin: 0;
    width: calc(100% - 30px);
    text-align: left;
}

.task-steps{
    background-color: red;
    padding: 16px;
    width: calc(100% - 32px);
    left: 0;
    bottom: 0;

}

.step-wrapper{
    background: rgb(240, 240, 240);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    text-align: left;
    padding: 8px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.description-block{
    padding: 0 8px;
}
.completed-text{
    width: 72px;
    color: gray;
    text-align: right;
    margin-right: 8px;
}