.alert{
    background: rgb(0 0 0 / 20%);
    padding: 1rem 0.5rem;
}
.alert.center{text-align: center;}
.alert.error{
    color: rgb(130 0 0);
    background: rgb(255 0 0 / 30%);
}
.alert.success{
    color: #085900;
    background: #2dd02d78;
}